# Node.js dependencies
node_modules/

# Next.js build output
.next/

# Next.js static file output
out/

# Prisma
prisma/migrations/

# TypeScript build artifacts
*.tsbuildinfo
dist/

# Testing and coverage
coverage/
*.test.js
*.test.ts
*.spec.js
*.spec.ts

# Environment
.env

#docker
Dockerfile
docker-compose.yml

# IDE
.vscode/

# Temporary files
*.log
npm-debug.log*

# Miscellaneous
.DS_Store
Thumbs.db
ehthumbs.db
